.hotel-rules {
    padding-bottom: 70px;
    @media (min-width: 320px) and (max-width: 992px){
         padding-bottom: 30px; 
        }
    &__title {
        text-transform: uppercase;
        color: $white;
        display: block;
        font-size: 1.125rem;
        line-height: 3rem;
        width: 30%;
        text-align: center;
        position: relative;
        height: 85px;
        overflow: hidden;
        margin: 20px 50px;
        @media (min-width: 768px) and (max-width: 992px) {
           width: 40%;
            margin: 0 20px 20px;
        }
        @media (min-width: 480px) and (max-width: 576px) {
            margin: 0 10px;
            width: 45%;
            height: 65px;
        }
         @media (min-width: 320px) and (max-width: 480px) {
           width: 80%;
             height: 50px;
             margin: 0;
        }
        @media (min-width: 576px) and (max-width: 768px) {
            margin: 0 10px 10px;
            width: 55%;
        }
        &:before {
           @include size(100%,170%);
            @include pos($l:0%, $b:12%);
            content: '';
            background: $black;
            border-radius: 100%;
            z-index: -2;
            @media (min-width: 480px) and (max-width: 768px) {
            height: 120%;
                bottom: 35%;
        } 
            @media (min-width: 320px) and (max-width: 480px) {
            height: 130%;
                bottom: 28%;
        }
    

            
           }
    }
    &__decor {
        margin-top: 20px;
        @media (min-width: 480px) and (max-width: 768px) {
            margin-top: 5px;
        }
        @media (min-width: 320px) and (max-width: 480px) {
            display: none;
        }
    }
    &__col {
         counter-reset: p;
    }
    &__rule {
        counter-increment: p;
        font-size: 1.125rem;
        line-height: 1.375rem;
        margin: 0  20px 20px;
        @media (min-width: 320px) and (max-width: 768px) {
           margin: 0 0 10px;
        }
        &::before {
            content: counter(p) ". ";
            
        }
        & + .hotel-rules__list {
            font-size: 1.125rem;
            line-height: 1.375rem;
             margin: -20px  20px 20px;
            @media (min-width: 320px) and (max-width: 768px) {
           margin: -10px 0 10px;
        }
        }
     
    }
    &__item {
        &::before {
            content: "- ";
        }
    }
}