/* @media Rule */
/*@media all and (max-width: 1200px) {
    .nav {
        &__link {
        font-size: 14px;
        line-height: 18px;
        }
        &__items {
            &--left {
            .nav__link {
                 padding-right: 28px;
                }
            }
            &--right {
            .nav__link {
                 padding-left: 34px;
                }
            }
            
        }
    }
}
@media all and (max-width: 992px) {
    .nav {
        &__link {
        font-size: 14px;
        line-height: 18px;
        text-transform: none;
        }
        &__items {
            &--left {
            .nav__link {
                 padding-right: 20px;
                }
            }
            &--right {
            .nav__link {
                 padding-left: 23px;
                }
            }
            
        }
    }
    .round {
        @include size(40%, 275px);  
    }
}
@media all and (max-width: 768px) {
    .header {
        display: none;
    }
    .nav {
        &__link {
        padding: 18px 0 10px;
        font-size: 10px;
        line-height: 12px;
        text-transform: none;
        }
        &__items {
            &--left {
            .nav__link {
                 padding-right: 17px;
                }
            }
            &--right {
            .nav__link {
                 padding-left: 19px;
                }
            }
            
        }
    }
        .round {
        @include size(45%, 270px);  
    }
}*/
