.cuisine {
    .section__item {
         @media (min-width: 567px) and (max-width: 991px){
               @include size(460px, 345px);
               border-radius: 30px;
        }
    }
    .section__title {
       margin-bottom: 65px; 
       @media (min-width: 768px) and (max-width: 1200px){
            margin-bottom: 35px; 
        }
         @media (min-width: 320px) and (max-width: 767px){
            margin-bottom: 15px; 
        }
    }
      .section__img {
         @media (min-width: 567px) and (max-width: 991px){
              height: 345px;
        }
    }
}