.inrestorant {
     .section__title {
        margin: 70px 0 43px; 
        @media (min-width: 320px) and (max-width: 768px){
         margin-bottom: 10px; 
        }
          @media (min-width: 768px) and (max-width: 992px){
         margin-top: 30px; 
        }
    }
     .section__description {
        text-align: center;
        font-size: 1.125rem;
        line-height: 1.32rem;
        margin: 0 auto 100px;
        @media (min-width: 1200px) {
            width: 67%;    
        }
        @media (min-width: 768px) and (max-width: 1200px){
         margin-bottom: 40px; 
        font-size: 1.325rem;
        line-height: 1.42rem;
        }
        @media (min-width: 320px) and (max-width: 768px){
         margin-bottom: 30px; 
        font-size: 1.2rem;
        line-height: 1.3rem;
        }
        
    }
    &__btn {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        text-transform: uppercase;
        color: $white;
        width: 26%;
        border-radius: 30px;
        padding: 32px 0;
        background: $black;
        border: 1px solid $black;
        transition: all .3s ease-in-out;
        margin-bottom: 34px;
        @media (min-width: 320px) and (max-width: 768px) {
            width: 50%;
            padding: 20px 0;
            border-radius: 20px;
            margin-bottom: 25px;
        }
        &:hover {
            background: $white;
            border-color: #D2CBCB;
            color: $black;
        }
    }
  
}