.nav {
    margin-top: -1px;
    background: $black;
    @media (max-width: 767px) {
        height: 50px;
        position: fixed;
        z-index: 20;
}
    .container-fluid {
        max-width: 1200px;
         background: $black;
        }

    &-col {
        @media (max-width: 767px) {
            padding: 0;
            height: 50px;
            }
        }
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: all 0.4s ease; 
        @media (max-width: 767px) {
            flex-direction: column;
            transform: translateY(-140%);
            }
            &--active {
                transform: translateY(0);
                }
            }

    &__items {
        display: flex;
        flex-direction: row;
        @media (max-width: 767px) {
        flex-direction: column;
        background: rgba(0,0,0, .8);
        align-items: center;    
            }
            &--right, &--left{
                .nav__link {
                    padding-left: 10px;
                    padding-right: 10px;
                    @media (min-width: 1200px) {
                    margin: 0 23px;
                }
                    @media (min-width: 840px) and (max-width: 1200px) {
                        padding-right: 10px;
                        padding-left: 10px;
                        margin: 0 12px;
                        }
                    @media (min-width: 768px) and (max-width: 840px) {
                        padding-right: 10px;
                        padding-left: 10px;
                        margin: 0 3px;
                    
                        }
                    @media (max-width: 767px) {
                        padding: 15px;
                        }
                }
               
            }
        &--right {
             @media (max-width: 768px) {
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                }
        }
            &--center {
                text-align: center;
                .nav__link {
                    padding-right: 10px;
                    padding-left: 10px;
                    &::before, &::after {
                        top: 82%;
                    }
                    p {
                        @media (min-width: 768px) and (max-width: 840px) {
                            line-height: 1.2;
                            }
                       
                        }
                    }
                @media (max-width: 767px) {
                    display: none;
                }
            }
           
            &--min {
                display: flex;
                justify-content:space-between;
                align-items: center;
                width: 100%;
                background: $black;
                box-shadow: 0px 0px 15px -2px rgba(255, 255, 255, .5); 
                 &::after {
                        @include size(20px, 3px);
                        position: absolute;
                        background: pink;
                        z-index: 100;
                    }
                @media (min-width: 767px) {
                    display: none;
                }
            }
        }
    &__logo-min {
        width: 80px;
        height: 50px;
        z-index: 22;
    }

    &__link {
        display: block;
        padding: 35px 0 20px;
        color: $white;
        text-transform: uppercase;
        line-height: 1.375rem;
        transition: all .5s ease;
        position: relative;
                &::before, &::after {
                    content: "";
                    @include size(0,1px);
                    background: $white;
                    transition: all .5s ease;
                    @include pos($t:65%, $l:50%);
                }
                &:hover::before {
                    width: 50%;
                    left: 0;
                }
                &:hover::after {
                    width: 50%;
                    right: 0;
                }
        @media (min-width: 767px) and (max-width: 1200px) {
            text-transform: none;
            }
        @media (min-width: 767px) and (max-width: 950px) {
            font-size: .83rem;
            padding: 16px 0 16px;
            align-self: center;
            }
        @media (max-width: 767px) {
        width: 100%;
        text-align: center;
        &:active {
            text-decoration: underline;
            }
        }
    
            &--min {
                color: $white;
                font-size: 1.2rem;
                padding: 5px 15px;
                
        }
    }
    &__btn--min {
        text-align: right;
        line-height: 50px;
        z-index: 22;
        width: 100%;
        background: $black;
         
    }
}

.round__wrap {
   margin-top: -2px;
    z-index: 4;
    display: flex;
    overflow: hidden;
    height: 100%;
    padding-bottom: 2px;
    box-sizing: content-box;
    @media (max-width: 767px) {
        display: none;
        }
    }
.round {
    @include size(30%, 300px); 
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: -252px auto 0;
    background: $black;
    border-radius: 100%;
    @media (min-width: 767px) and (max-width: 992px) {
        @include size(40%, 300px); 
        }
    @media (max-width: 767px) {
        display: none;
    }

    &__img {
        transform: scale(.6);
        position: relative;
        bottom: -10px;
        right: 0;
        &--main {
             @media (min-width: 769px) {
        display: none;
    } 
        }
        
    }
   
}
/*#map {
    width: 800px;
    height: 800px;
}*/
